<sidebar></sidebar>
<!--<app-menu></app-menu>-->
<div class="users">
   <app-menu></app-menu>
<!--<p-dataTable class="first-table" [value]="users" sortMode="multiple" responsive="true">-->
  <!--<p-header>Second Table</p-header>-->
  <!--<p-column field="id" header="id" [sortable]="true" [filter]="true"></p-column>-->
  <!--<p-column field="username" header="username" [sortable]="true" [filter]="true"></p-column>-->
  <!--<p-column field="password" header="password"  [sortable]="true" [filter]="true"></p-column>-->
  <!--<p-column field="firstName" header="firstName" [sortable]="true" [filter]="true"></p-column>-->
  <!--<p-column field="lastName" header="lastName" [sortable]="true" [filter]="true"></p-column>-->
  <!--<p-column field="email" header="email" [sortable]="true" [filter]="true"></p-column>-->
  <!--<p-column field="sendEmail" header="sendEmail" [sortable]="true" [filter]="true"></p-column>-->
  <!--<p-column field="phoneNumber" header="phoneNumber" [sortable]="true" [filter]="true"></p-column>-->
  <!--<p-column field="sendSms" header="sendSms" [sortable]="true" [filter]="true"></p-column>-->
<!--</p-dataTable>-->
<div class="users-card">
  <div class="users-card-header">
    Users Table
  </div>
  <ngx-datatable
    class='material users-table'
    [columns]="usersColumns"
    [columnMode]="'force'"
    [headerHeight]="'auto'"
    [rowHeight]="'auto'"
    [rows]='users'
    [scrollbarH]="true"
    [loadingIndicator]="loadingIndicator"
    [selectionType]="'single'"
    (select)="onSelect($event)">
  </ngx-datatable>
</div>
  <div *ngIf="editAddUserPanelShown" class="users-card">
    <div class="users-card-header">Add new user</div>
    <div class="new-user-card">
    <div>
      <!--<label> username
        <input id="username" [(ngModel)]=currentUser.username type="text"/>
      </label>-->
      <md-input-container>
        <input mdInput type="text" placeholder="Username" [(ngModel)]="currentUser.username" id="username"/>
     </md-input-container>
    </div>
    <div>
      <!--<label>password
        <input id="password" [(ngModel)]=currentUser.password type="password"/>
      </label>-->
       <md-input-container>
        <input mdInput type="password" placeholder="Password" [(ngModel)]="currentUser.password" id="password"/>
     </md-input-container>
    </div>
    <div>
      <!--<label>firstName
        <input id="firstName" [(ngModel)]=currentUser.firstName type="text"/>
      </label>-->
       <md-input-container>
        <input mdInput type="text" placeholder="First Name" [(ngModel)]="currentUser.firstName" id="firstName"/>
     </md-input-container>
    </div>
    <div>
      <!--<label>lastName
        <input id="lastName" [(ngModel)]=currentUser.lastName type="text"/>
      </label>-->
      <md-input-container>
        <input mdInput type="text" placeholder="Last Name" [(ngModel)]="currentUser.lastName" id="lastName"/>
     </md-input-container>
    </div>
    <div>
        <md-checkbox [(ngModel)]="currentUser.sendEmail" color="primary" id="sendEmail">Send Email</md-checkbox>
      <md-input-container>
        <input mdInput type="email" placeholder="Email" [(ngModel)]="currentUser.email" id="email"/>
     </md-input-container>
      <!--<label>email
        <input id="email" [(ngModel)]=currentUser.email type="email"/>
      </label>-->
    </div>
    <div>
      <md-checkbox [(ngModel)]="currentUser.sendSms" color="primary" id="sendSms">Send SMS</md-checkbox>
      <md-input-container>
          <input mdInput type="text" placeholder="Phone Number" [(ngModel)]="currentUser.phoneNumber" id="phoneNumber"/>
        </md-input-container>
      <!--<label>sendEmail
        <input id="sendEmail" [(ngModel)]=currentUser.sendEmail type="checkbox"/>
      </label>-->
    </div>
    <div>
      <md-checkbox [(ngModel)]="currentUser.sendNotifNoNewUsers" color="primary" id="sendNotifNoNewUsers">No New Users</md-checkbox>
      <md-input-container>
        <input mdInput type="number" placeholder="Max No New Users Period Minutes" [(ngModel)]="currentUser.noNewUsersMaxPeriod" id="noNewUsersMaxPeriod"/>
     </md-input-container>
    </div>
    <div>
      <md-checkbox [(ngModel)]="currentUser.sendNotifNoNewSessions" color="primary" id="sendNotifNoNewSessions">No New Sessions</md-checkbox>
      <md-input-container>
        <input mdInput type="number" placeholder="No New Sessions Period Minutes" [(ngModel)]="currentUser.noNewSessionsMaxPeriod" id="noNewSessionsMaxPeriod"/>
     </md-input-container>
    </div>
    <div>
      <md-checkbox [(ngModel)]="currentUser.sendNotifNginx" color="primary" id="sendNotifNginx">nginx DOWN</md-checkbox>
    </div>
    <div>
      <md-checkbox [(ngModel)]="currentUser.sendNotifPostgres" color="primary" id="sendNotifPostgres">postgres DOWN</md-checkbox>
    </div>
    <div>
      <md-checkbox [(ngModel)]="currentUser.sendNotifRadius" color="primary" id="sendNotifRadius">radius DOWN</md-checkbox>
    </div>
    <div>
      <md-checkbox [(ngModel)]="currentUser.sendNotifCpApp" color="primary" id="sendNotifCpApp">CP App DOWN</md-checkbox>
    </div>
    <div>
      <md-checkbox [(ngModel)]="currentUser.sendNotifApiTest" color="primary" id="sendNotifApiTest">Error On API call</md-checkbox>
    </div>
    <div>
      <md-checkbox [(ngModel)]="currentUser.sendNotifCertExpires" color="primary" id="sendNotifCertExpires">Certificate Expires</md-checkbox>
      <md-input-container>
        <input mdInput type="number" placeholder="Certificate Expires Days" [(ngModel)]="currentUser.certExpiresDays" id="certExpiresDays"/>
     </md-input-container>
    </div>
    <div>
      <md-checkbox [(ngModel)]="currentUser.sendNotifReplication" color="primary" id="sendNotifReplication">Replication problem</md-checkbox>
      <md-input-container>
        <input mdInput type="number" placeholder="Replication warning count" [(ngModel)]="currentUser.replicationWarningCount" id="replicationWarningCount"/>
     </md-input-container>
    </div>
    <div>
      <md-checkbox [(ngModel)]="currentUser.sendNotifAvalilableSpace" color="primary" id="sendNotifAvalilableSpace">Available Space Control</md-checkbox>
      <md-input-container>
        <input mdInput type="number" placeholder="Normal Available Space(Percent)" [(ngModel)]="currentUser.normalFreeSpacePercent" id="normalFreeSpacePercent"/>
     </md-input-container>
     <md-input-container>
      <input mdInput type="number" placeholder="Critical Available Space(Percent)" [(ngModel)]="currentUser.criticalFreeSpacePercent" id="criticalFreeSpacePercent"/>
   </md-input-container>
    </div>
     <br>
   <!-- <button (click)="saveUser()" *ngIf="editAddUserPanelShown">save user</button>-->
   <div>
     <button md-raised-button color="primary" (click)="cancelAddUser()" type="button" *ngIf="editAddUserPanelShown" class="users-button" style="margin-left: 0;">Cancel</button>
     <button md-raised-button color="primary" (click)="saveUser()" type="button" *ngIf="editAddUserPanelShown" class="users-button" style="margin-left: 0; background: green;">Save User</button>
     <button md-raised-button color="primary" (click)="deleteUser()" type="button" *ngIf="editUserPanelShown" class="users-button" style="margin-left: 0; background: red;">Delete User</button>
  </div>
     </div>
  </div>
  <button md-raised-button color="primary" (click)="addUser()" type="button" *ngIf="!editAddUserPanelShown" class="users-button">Add User</button>
  <!--<button (click)="addUser()" *ngIf="!editAddUserPanelShown">add user</button>-->
  <button (click)="deleteUser()" *ngIf="false">delete user</button>
</div>
