<div class="login-container">
  <h1>YoWireless</h1>
    <div class="input-name">
      <!-- <label for="username">username:</label> -->
      <input [(ngModel)]="ywm_username" name="username" placeholder="Username" type="text" required/>
    </div>
    <br/>
    <div class="input-password">
      <!-- <label for="password">password:</label> -->
      <input [(ngModel)]="ywm_password" name="password" placeholder="Password" type="password" required/>
      <br/>
    </div>
    <div class="btnBlock">
      <button class="input-btn" (click)="login()" type="button" value="Login">Login</button>
    </div>
</div>
