<div class="menu">
    <div class="hamburger">MENU</div>
 <!--<button class="menu-button">
    <i class="fa fa-bell" aria-hidden="true" style="font-size: 30px"></i>
    <img src="../../assets/icons/notification.svg" alt="" style="width: 30px; padding-top: 5px;">
</button>-->
    <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <button md-icon-button (click)="open($event)" class="menu-button">
          <span class="notif-number" *ngIf="notifications.length > 0"><div>{{notifications.length}}</div></span>
        <img src="../../assets/icons/notification.svg" alt="" style="width: 30px; padding-top: 5px;">
      </button>

      <div class="dropdown-menu">
        <h4 class="menu-title">Notifications</h4>
        <div *ngIf="notifications.length > 0">
         <ul *ngFor="let notif of notifications">
          <li (click)="hideNotif(notif)" *ngIf="!notif.hide" [ngClass]="{'notif_critical': notif.type=='CRITICAL', 'notif_error': notif.type=='ERROR', 'notif_warning': notif.type=='WARNING', 'notif_info': notif.type=='INFO'}">
            <button >
              <div class="content">
                <span class="desc">{{notif.title}}</span>
                <span class="date">{{notif.text}}</span>
              </div>
            </button>
          </li>
        </ul>
        </div>
        <div *ngIf="notifications.length == 0" style="color: white; text-align: center; margin-top: 10px; margin-bottom: 10px;">
          No notifications.
        </div>


        <div class="menu-footer" *ngIf="notifications.length > 0">
          <button (click)="hideAllNotif()">Mark all as read</button>
        </div>
      </div>
    </div>
    <div class="nav-item" [ngClass]="{ 'opened' : false }">
        <button class="menu-button" md-icon-button><i class="fa fa-sign-out" aria-hidden="true" style="font-size: 30px; margin-top: 7px;"></i></button>
    </div>
    <div id="overlay" class="items-overlay" (click)="close($event)"></div>
</div>
