@media (max-width: 991px) {
    .hamburger{
        display: flex !important;
    }
}

.menu{
background: white;
position: relative;
height: 50px;
display: flex;
justify-content: flex-end
}
.menu-button{
border:none; 
background: transparent; 
 color: black;
}
.hamburger{
    display: none;
    position: absolute;
    left: 15px;
    top: 15px;
}