<sidebar></sidebar>

<div class="dashboard">
  <app-menu></app-menu>
<div class="dashboard-card">
  <div class="dashboard-card-title"> CP server</div>
  <div class="dashboard-card-content">
  <ngx-datatable
    class='material'
    [columns]="cpServersColumns"
    [columnMode]="'force'"
    [headerHeight]="'auto'"
    [rowHeight]="'auto'"
    [rows]='cpServers'
    [scrollbarH]="true"
    [loadingIndicator]="loadingIndicator">
  </ngx-datatable>
  </div>
</div>
<div class="dashboard-card">
  <div class="dashboard-card-title"> Captive portals</div>
  <div class="dashboard-card-content">
  <md-input-container style="width=27%" class="mb-2">
    <input mdInput placeholder="Type to filter the host column..." required (keyup)='updateFilterHost($event)'>
  </md-input-container>
  <md-input-container style="width=27%" class="mb-2">
    <input mdInput placeholder="Type to filter the nasid column..." required (keyup)='updateFilterNasid($event)'>
  </md-input-container>

  <ngx-datatable
    class='material'
    [columns]="cpsColumns"
    [columnMode]="'force'"
    [headerHeight]="'auto'"
    [rowHeight]="'auto'"
    [rows]='cps'
    [scrollbarH]="true"
    [loadingIndicator]="loadingIndicator">
  </ngx-datatable>

    <ngx-datatable
      class='material'
      [rows]='cps'
      [columnMode]="'force'"
      [headerHeight]="'auto'"
      [rowHeight]="'auto'"
      [scrollbarH]="true">
      <ngx-datatable-column name="Host" ></ngx-datatable-column>
      <ngx-datatable-column name="nasid" ></ngx-datatable-column>
      <ngx-datatable-column name="localTime" ></ngx-datatable-column>
      <ngx-datatable-column name="lastHourSessionsCount" [cellClass]="getCellClass"></ngx-datatable-column>
      <ngx-datatable-column name="todaySessionsCount" [cellClass]="getCellClass"></ngx-datatable-column>
      <ngx-datatable-column name="lastHourNewUsersCount" [cellClass]="getCellClass"></ngx-datatable-column>
      <ngx-datatable-column name="todayNewUsersCount" [cellClass]="getCellClass"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
</div>
