<sidebar></sidebar>

<div class="dashboard">
  <app-menu></app-menu>
<div class="dashboard-card">
  <div class="dashboard-card-title"> CP server</div>
  <div class="dashboard-card-content">
  <ngx-datatable
    class='material'
    [columnMode]="'force'"
    [headerHeight]="'auto'"
    [rowHeight]="'auto'"
    [rows]='cpServers'
    [scrollbarH]="true"
    [loadingIndicator]="loadingIndicator">
    <ngx-datatable-column name="host" width="110" minWidth="110" maxWidth="110"></ngx-datatable-column>
      <ngx-datatable-column name="nginx" prop="nginxState" [cellClass]="serverState" width="120" minWidth="120" maxWidth="120"></ngx-datatable-column>
      <ngx-datatable-column name="postgresql" prop="postgresqlState" [cellClass]="serverState" width="160" minWidth="160" maxWidth="160"></ngx-datatable-column>
      <ngx-datatable-column name="radius" prop="radiusState" [cellClass]="serverState" width="140" minWidth="140" maxWidth="140"></ngx-datatable-column>
      <ngx-datatable-column name="replication" prop="replicationState" [cellClass]="serverState" width="160" minWidth="160" maxWidth="160"></ngx-datatable-column>
      <ngx-datatable-column name="CP app" prop="cpAppState" [cellClass]="serverState" width="140" minWidth="140" maxWidth="140"></ngx-datatable-column>
      <ngx-datatable-column name="frees pace" prop="cpSpace.freeGB" [cellClass]="freeSpace" width="130" minWidth="130" maxWidth="130"></ngx-datatable-column>
      <ngx-datatable-column name="cert expires" prop="certificateExpireDate" width="200" minWidth="200" maxWidth="200"></ngx-datatable-column>
  </ngx-datatable>
  </div>
</div>
<div class="dashboard-card">
  <div class="dashboard-card-title"> Captive portals</div>
  <div class="dashboard-card-content">
  <md-input-container style="width:27%" class="mb-2">
    <input mdInput placeholder="Type to filter the host column..." required (keyup)='updateFilterHost($event)'>
  </md-input-container>
  <md-input-container style="width:27%" class="mb-2">
    <input mdInput placeholder="Type to filter the nasid column..." required (keyup)='updateFilterNasid($event)'>
  </md-input-container>

  <ngx-datatable
    class='material'
    [columnMode]="'force'"
    [headerHeight]="'auto'"
    [rowHeight]="'auto'"
    [rows]='cps'
    [scrollbarH]="true"
    [loadingIndicator]="loadingIndicator">
      <ngx-datatable-column name="host" prop="host" width="80" minWidth="80" maxWidth="80"></ngx-datatable-column>
      <ngx-datatable-column name="nasid" prop="nasid" width="140" minWidth="140" maxWidth="140"></ngx-datatable-column>
      <ngx-datatable-column name="local time" prop="localTime" width="130" minWidth="130" maxWidth="130"></ngx-datatable-column>
      <ngx-datatable-column name="working time" prop="workingTime" width="320" minWidth="130" maxWidth="130"></ngx-datatable-column>
      <ngx-datatable-column name="last hour sessions" prop="lastHourSessionsCount" [cellClass]="getCellClass" width="220" minWidth="220" maxWidth="220"></ngx-datatable-column>
      <ngx-datatable-column name="todays essions" prop="todaySessionsCount" [cellClass]="getCellClass" width="190" minWidth="190" maxWidth="190"></ngx-datatable-column>
      <ngx-datatable-column name="last hour new users" prop="lastHourNewUsersCount" [cellClass]="getCellClass" width="220" minWidth="220" maxWidth="220"></ngx-datatable-column>
      <ngx-datatable-column name="today new users" prop="todayNewUsersCount" [cellClass]="getCellClass" width="220" minWidth="220" maxWidth="220"></ngx-datatable-column>
  </ngx-datatable>
  </div>
</div>
</div>
