<sidebar></sidebar>
<!--<app-menu></app-menu>-->
<div class="settings">
  Email settings:
<div>
  <label> username
    <input [(ngModel)]="mail.username" name="mail_username" type="text"/>
  </label>
</div>
<div>
  <label> password
    <input [(ngModel)]="mail.password" name="mail_password" type="password"/>
  </label>
</div>
<div>
  <label> smtp_starttls_enable
    <input [(ngModel)]="mail.smtpStarttlsEnable" name="mail_smtpStarttlsEnable" type="checkbox"/>
  </label>
</div>
<div>
  <label> smtp_auth
    <input [(ngModel)]="mail.smtpAuth" name="mail_smtpAuth" type="checkbox"/>
  </label>
</div>
<div>
  <label> smtp_host
    <input [(ngModel)]="mail.smtpHost" name="mail_smtpHost" type="text"/>
  </label>
</div>
<div>
  <label> smtp_port
    <input [(ngModel)]="mail.smtpPort" name="mail_smtpPort" type="number"/>
  </label>
</div>
<div>
  <button (click)="saveEmail()">save email settings</button>
</div>

<br/>
Sms api settings:
<div>
  <label> sms api
    <select [(ngModel)]="sms.apiType" name="" type="">
      <option>FIRETEXT</option>
      <option>MONGATE</option>
    </select>
  </label>
</div>
<div>
  <label> apiKey
    <input [(ngModel)]="sms.apiKey" name="" type="text"/>
  </label>
</div>
<div>
  <label> url
    <input [(ngModel)]="sms.apiKey" name="" type="text"/>
  </label>
</div>
<div>
  <button (click)="saveSms()">save sms settings</button>
</div>
</div>